################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UIAtomsDemo/v14/.suo
/NeuroSpeech.UIAtoms/obj
/packages
/UIAtomsDemo/UIAtomsDemo.Droid/obj
/UIAtomsDemo/UIAtomsDemo.iOS/obj
/NeuroSpeech.UIAtoms/bin/Debug
/UIAtomsDemo/UIAtomsDemo.Droid/bin/Debug
/UIAtomsDemo/UIAtomsDemo.Droid/UIAtomsDemo.Droid.csproj.user
/UIAtomsDemo/UIAtomsDemo.iOS/bin/iPhone/Debug
/Components
/NeuroSpeech.UIAtoms.Droid/bin/Debug
/NeuroSpeech.UIAtoms.Droid/obj/Debug
/NeuroSpeech.UIAtoms.iOS/bin/Debug
/NeuroSpeech.UIAtoms.iOS/obj/Debug
UIAtoms.NuGet/obj/
UIAtoms.NuGet/UIAtoms.Xamarin.Forms.*.nupkg
*.suo
/NeuroSpeech.UIAtoms.Droid/NeuroSpeech.UIAtoms.Droid.csproj.user
UIAtoms.NuGet/bin/
UIAtomsDemo/UIAtomsDemo.iOS/bin
*.bak
/NeuroSpeech.UIAtoms.iOS/NeuroSpeech.UIAtoms.iOS.csproj.user
/AtomStockImagesLib/obj/Debug
/AtomStockImagesLib/bin/Debug
*.user
